p Example: {{example.original}}
table.table
  tr
    td.success.col-md-1 Good
    td {{example.good}}
  tr
    td.danger.error.col-md-1 Bad example
    td {{example.bad}}
  tr
    td.danger.error.col-md-1 Why is this bad
    td {{example.reason}}
